<div class="app-background"></div>

<style>
  .app-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://github.com/VictorHp21/Projeto-BlueHaven/blob/main/Imagens/Logo2.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Mantém o fundo atrás de tudo */
  }
</style>
